<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CNVTestSuite" parallel="instances" thread-count="20">
    <test name="Test1">
        <classes>
            <parameter name="testDefinition" value="/CNVTests.json"/>
            <class name="ca.on.oicr.pde.testing.WorkflowRunTestFactory"/>
        </classes>
    </test>
</suite>
